.legendText
    | Welcome #{session.user_nickname} #{session.user_id}
#postsarea
    ul#chats
        li(class='template')
            div.chat.round
                div.item_img
                    | default image
                div.item_msg
                    | default message
<input type='button' id='addChat' value='Send' />
