.textTitle
    | Channel list
    | #{JSON.stringify(session)}
each channel, id in channels
    div
        <a href="/ch/#{id}">#{channel.name}</a>
<a href="/ch" class="pretty_button_sml">Add conversation</a>
