div
  .displayTextTitle <em>Stanzr</em>
  .displayText Real-Time Social Media Group
  .displayText Chats for B2B Marketing

.userChoice
  div
    <a href="/register" class="pretty_button_lge">Start a conversation!</a>